 <div class="section-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="header-action">
                            <h1 class="page-title">Tableau de bord</h1>
                            <ol class="breadcrumb page-breadcrumb">
                                <li class="breadcrumb-item"><a href="#">E.G.E</a></li>
                                <li class="breadcrumb-item"><a href="#">STE Felicite</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                            </ol>
                        </div>
                        <ul class="nav nav-tabs page-header-tab">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#admin-Dashboard">Tableau de bord</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#admin-Activity">Activité</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-body mt-4">
                <div class="container-fluid">
                    <div class="row clearfix row-deck">
                        <div class="col-12 col-md-8 col-xl-4">
                            <div class="card">
                                <div class="card-body ribbon">
                                    <div class="ribbon-box green" data-toggle="tooltip" title="New Professors">10</div>     
                                    <a href="professors.html" class="my_sort_cut text-muted">
                                   <i class="fa fa-black-tie"></i>
                                      <span>Professeurs</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-xl-4">
                            <div class="card">
                                <div class="card-body ribbon">
                                    <a href="staff.html" class="my_sort_cut text-muted">
                                        <i class="fa fa-user"></i>
                                        <span>Parents</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-xl-4">
                            <div class="card">
                                <div class="card-body ribbon">
                                    <div class="ribbon-box orange" data-toggle="tooltip" title="New etudiants">25</div>
                                    <a href="app-filemanager.html" class="my_sort_cut text-muted">
                                        <i class="fa fa-user-circle-o"></i>
                                        <span>Etudiants</span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-body mt-4">
                    <div class="container-fluid">
                    <div class="row clearfix row-deck">
                        <div class="col-12 col-md-8 col-xl-4">
                            <div class="card">
                                <div class="card-body ribbon">
                                    <a href="library.html" class="my_sort_cut text-muted">
                                        <i class="fa fa-book"></i>
                                        <span>Examens</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-xl-4">
                            <div class="card">
                                <div class="card-body">
                                    <a href="app-contact.html" class="my_sort_cut text-muted">
                                        <i class="fa fa-address-book"></i>
                                        <span>Contact</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-xl-4">
                            <div class="card">
                                <div class="card-body ribbon">
                                    <div class="ribbon-box red" data-toggle="tooltip" title="New etudiants"></div>
                                    <a href="holiday.html" class="my_sort_cut text-muted">
                                        <i class="fa fa-bullhorn"></i>
                                        <span>Resultats</span>
                                    </a>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      </div>
                        </div>

            <!-- Start main footer -->
            <div class="section-body">
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                Copyright © 2021 <a href="https://themeforest.net/user/puffintheme/portfolio"></a>.
                            </div>
                            <div class="col-md-6 col-sm-12 text-md-right">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a href="../doc/index.html">Documentation</a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)">FAQ</a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="btn btn-outline-primary btn-sm">Buy Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>